


<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">Invitations <small>(<%= @invitations.count %>)</small></a>
    <div class="tab-content">
      <div class="invites">

          <% if @invitations %>
          <ul>
          <% @invitations.each do |i| %> 
          <li class="vote-listing">
              <% if i.vote.finished? %>
                <div class="ribbon-wrapper">
                <div class="ribbon">
                  <%= link_to "RESULTS!", vote_answers_path(i.vote) %>
                </div>
                </div>
              <% end %>
             
            <div class="question">
              <%= link_to i.vote.question, vote_path(i.vote) %>
              <div class="vote-count"> 
                <%= i.vote.answers.count %> of <%= i.vote.invites.count + 1 %> votes
                (required: <%=((i.vote.invites.count + 1) * 0.75).ceil %>)
              </div>
            </div>

            <% if voted?(i.vote.answers) %>
              <% else %>
              <div> <%= link_to "Vote!", vote_path(i.vote), :class => "button" %></div>
              <% end %>

             <div class="vote-footer">
              <%= link_to "View", vote_path(i.vote) %>
              </div>
          </li>
            <span class="post-time">Invited <%= time_ago_in_words(i.created_at) %> ago by <%= i.sender.email %></span>
          <% end %>
          <% end %>
          <ul>
          </div>
    </div>
  </li>


  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Your Questions <small>(<%= @created_votes.count %>)</small></a>
    <div class="tab-content">
          <div class="questions">
 
      <% if @created_votes %>
      <ul>
      <% @created_votes.each do |v| %>
        <li class="vote-listing">
        

         
         <% if v.finished? %>
         <div class="ribbon-wrapper"><div class="ribbon"><%= link_to "RESULTS!", vote_answers_path(v) %></div></div>
         <% end %>
         <div class="question">
         <%= link_to v.question, vote_path(v) %>
         <div class="vote-count"> 
         <%= v.answers.count %> of <%= v.invites.count + 1 %> votes
         (required: <%=((v.invites.count + 1) * 0.75).ceil %>)

         </div>
        
         </div>
         

         <% if v.answers.find_by(user: current_user) %> 
          <% else %>
          <div> <%= link_to "Vote!", vote_path(v), :class => "button" %></div>
          <% end %>

          <div class="vote-footer">
          <%= link_to "View", vote_path(v) %>
            <%= link_to "Invite", invite_vote_path(v) %>
           <%= link_to 'Delete', v, method: :delete, data: { confirm: 'Are you sure?' } %> 
          </div>

        </li>
        <span class="post-time">Posted <%= time_ago_in_words(v.created_at) %> ago</span>
      <% end %>
      <% end %>
       </ul>
      </div>

    
    </div>
  </li>
 
</ul>



