<% if user_signed_in? %>
  <ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link invite-link is-active"> <%= icon("envelope")%> Invites </a>
      <div class="tab-content">
        <%= render "invites" %>
      </div>
    </li>

    <li class="tab-header-and-content">
      <a href="#" class="tab-link my-link"><%= icon("check-square") %> My Votes </a>
      <div class="tab-content">
        <%= render "your_questions" %> 
      </div>
    </li>
  </ul>
<% else %>
  <%= render "hero_unit" %>
<% end %>


