

<div class="questions">
<h3>Your Questions (<%= @created_votes.count %>)</h3>
<% if @created_votes %>
<ul>
<% @created_votes.each do |v| %>
  <li>
   <div><%= link_to v.question, vote_path(v) %></div>
   <div>Posted <%= time_ago_in_words(v.created_at) %> ago.</div>
   <div> <%= v.answers.count %> of <%= v.invites.count %></div>
   <% if v.answers.find_by(user: current_user) %>
    <div>Voted</div>
    <% else %>
    <div> <%= link_to "Vote!", vote_path(v), :class => "button" %></div>
    <% end %>

  </li>
<% end %>
<% end %>
 </ul>
</div>

<div class="invites">
<h3>Invitations (<%= @invitations.count %>)</h3>
<% if @invitations %>
<% @invitations.each do |i| %> 
<li>
  <span><%= link_to i.vote.question, vote_path(i.vote) %></span>
  <span>(sent by: <%= i.sender.email %>)</span>
</li>
<% end %>
<% end %>
</div>

<div class="nav-links">
<br>
<%= link_to "View All Voting", votes_path %> | <%= link_to 'New Vote', new_vote_path %>
</div>