<%= simple_form_for([@vote, @answer]) do |f| %>
  

    <%- @vote.get_choices.each do |option| %>
    <%= f.label "#{option}", option do %>
      <%= f.radio_button :answer, option %>
      <%= option %>
    <% end %> 
  <% end %>
  <hr>
  <%= f.input :comment, label: "comment (optional)" %>

  <button type="submit" classs="button">
    <%= icon('check', 'Submit Vote') %>
  </button>

<% end %>