<%= simple_form_for([@vote, @answer]) do |f| %>
  
  <div class="form-inputs">
    <%- @vote.get_choices.each do |option| %>
    <%= f.label "#{option}", option do %>
      <%= f.radio_button :answer, option %>
      <%= option %>
    <% end %> 
  <% end %>
  <hr>
  <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit Vote" %>
  </div>
<% end %>