%h3= @vote_presenter.question
.question-details= @vote_presenter.details

%h4.choices-header= icon('check-circle-o', 'choices')
%hr/

- if !@vote_presenter.current_user_voted?
  = render 'answer_form'
- else
  = render 'answer_choices'
  - if @vote_presenter.finished?
    = link_to icon("bar-chart", "View Results"), vote_answers_path(@vote), class: "button"


