
<div class="vote-list">
<h2>Listing votes</h2>
<hr>
<h4>This section will eventually be for public votes, where all blindee users can vote.</h4>

<ul>
    <% @votes.each do |vote| %>
        <li class="vote-listing">
        <div class="question">
          <%= link_to vote.question, vote %>
          <div class="vote-count">
            <%= vote.answers.count %> of <%= vote.invites.count + 1 %>
          </div>
        </div>
        </li>
        <span class="post-time"><%= time_ago_in_words(vote.created_at) %> ago by <%= vote.creator.email %></span>
    <% end %>

</ul>


</div>