.vote-list
  %h2 Public votes
  %hr/
  %p Not very scientific, but any Blindee user can vote here.
  %ul
    - @votes_presenter.each do |vote|
      %li.vote-listing
        .question
          = link_to vote.question, vote
          .vote-count
            = pluralize(vote.answers_count, "vote")
            so far
        .vote-footer
          = link_to icon('eye', 'View'), vote_path(vote)
          = link_to icon('bar-chart', 'Results'), vote_answers_path(vote)

      %span.post-time
        = time_ago_in_words(vote.created_at)
        ago by #{vote.creator_email}
