
<div class="vote-list">
<h2>Public votes</h2>
<hr>
<p>Not very scientific, but any Blindee user can vote here.</p>

<ul>
    <% @votes.each do |vote| %>
        <li class="vote-listing">
        <div class="question">
          <%= link_to vote.question, vote %>

               <div class="vote-count">
            <%= pluralize(vote.answers.count, "vote") %> so far
          </div>
      </div>

          
         
   
     

          <div class="vote-footer">
            <%= link_to icon('eye', 'View'), vote_path(vote) %>
            <%= link_to icon('bar-chart', 'Results'), vote_answers_path(vote) %>
          </div>
    
        </li>
        <span class="post-time"><%= time_ago_in_words(vote.created_at) %> ago by <%= vote.creator.email %></span>
    <% end %>

</ul>


</div>