

<h3>Question</h3>
<p><%= @vote.question %></p>

<h3>Invites</h3>
<%= @invites.map{ |i| i.email }.join(", ") %>

<h3>Choices</h3>
<% if user_answered? %>
  <%= render 'answer_choices' %>
<% else %>
  <%= render 'answer_form' %>
<% end %>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>

