
<div class="survey">

    <h3>Question</h3>
    <hr>
    <p><%= @vote.question %></p>



  <h3>Choices</h3>
    <hr>
    <% if user_answered? %>
      <%= render 'answer_choices' %>
    <% else %>
      <%= render 'answer_form' %>
    <% end %>

  <% if @vote.finished? %>
    <%= link_to "View Results", vote_answers_path(@vote), class: "button" %>
  <% end %>
</div>


  

<div class="detail">
  
<div class="status">
  <h3>Status</h3>
  <hr>
<p><%= @vote.answers.count %> of <%= @invites.count + 1 %> votes</p>
</div>

<div class="creator">
  <h3>Created by</h3>
  <hr>
  <p><%= @vote.creator.email %></p>
</div>

<div class="invites">
<h3>Invites <small>(<%= @invites.count %>)</small></h3>
  <hr>
  <p><%= @invites.map{ |i| i.email }.join(", ") %></p>

  <% if current_user?(@vote.creator) && !@vote.finished? %>
    <%= link_to 'Add Invites', invite_vote_path, :class => "button" %>
  <% end %>
</div>

</div>




 
  
