!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title= title
    = stylesheet_link_tag    :application, media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application, "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{:class => body_class}
    = render "sign_in"
    = render(user_signed_in? ? "header":"logo")
    = render "flashes"
    = yield
    = render "analytics"
